.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    position: relative;
    background-color: #1f1f1f;
    border-bottom: 2px solid #333;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-logo-text {
    color: white;
    margin: 0;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.navbar-item {
    text-decoration: none;
    margin-right: 1rem;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 1.5rem 1rem;
    transition: all 0.3s ease-in-out;
}

.navbar-item:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

#navbarMenu {
    align-items: center;
    display: flex;
    justify-content: center;
}